.favorites {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 170px;
  row-gap: 80px;

  @media (min-width: 1366px) {
    justify-content: flex-start;
    gap: 100px;
  }

  @media (max-width: 768px) {
    row-gap: 30px;
  }
}