.cart {
  &-submit {
    &__modal {
      padding: 30px;
      min-width: 320px;
      max-width: 600px;
    }

    &__btn {
      margin-right: 20px;
      padding: 5px 10px;
      height: 34px;
    }

    &__btn-group {
      display: flex;
      justify-content: center;
    }
  }
}