.crumbs-container {
  margin: 100px auto 0;
  width: 100%;
  max-width: 1360px;

  @media (max-width: 1920px) {
    max-width: 1124px;
  }

  @media (max-width: 1366px) {
    max-width: 968px;
  }

  @media (max-width: 1024px) {
    max-width: 680px;
  }

  @media (max-width: 768px) {
    max-width: 290px;
  }
}

.crumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  &-off {
    display: none;
  }

  &-wrapper {
    padding-top: 24px;
    padding-bottom: 38px;
    width: 100%;

    @media (max-width: 768px) {
      padding-top: 0;
      padding-bottom: 30px;
    }
  }
}

.back-btn {
  padding: 0;
  min-width: initial;
  background-color: transparent;

  svg {
    margin-right: 10px;
    fill: var(--black-color);
    transform: rotate(0deg);
  }
}

.personal-cabinet-color {
  background-color: #f6efdf;
}

.about-color {
  background-color: var(--accent-color);
}

.back-btn-color {
  color: var(--light-color);

  svg {
    margin-right: 10px;
    fill: var(--light-color);
  }
}